<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eyesless.simple_weather_for_fishermans">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/swfappicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/swfappicon_round"
        android:supportsRtl="true"
        android:theme="@style/WeatherMainTheme.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${PlaceAPIKey}"/>

        <activity android:name=".AMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>